#map-container {
   	width: 80%;
    height: 300px;
    margin: 0 auto;
}

.finderWrap{
	width: 80%;
    margin: 0 auto;
}

p {
	display: inline-block;
}

.searchWrap{
	width: 80%;
    margin: 0 auto;
}

.apSearch{
	display: inline-block;
	width: 45%;
}

.apSearch .mat-input-container{
	padding-left: 1%;
	width: 61%;
}

.apSearch p{
	width: 33%;
}

.btn{
    border: 3px solid #039be5;
    display: inline-block;
    padding: 5px;
    color: #039be5;
    position: relative;
    text-align: center;
    transition: background 600ms ease, color 600ms ease;
}

.btnActive{
	border: 3px solid #039be5;
	color: white;
	background: #039be5;
}

/*
* Found this radio button styles in the web which has smooth transition when value changes
*/
input.toggle {
    display: none;
    & + label{
        cursor: pointer;
        min-width: 60px;
        &:hover{
            background: none;
            color: #1a1a1a;
        }
        &:after{
            background: #1a1a1a;
            content: "";
            height: 100%;
            position: absolute;
            top: 0;
            transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
            width: 100%;
            z-index: -1;
        }
    }
    &.toggle-left + label {
        border-right: 0;
        &:after{
            left: 100%
        }
    }
    &.toggle-right + label{
        margin-left: -5px;
        &:after{
            left: -100%;
        }
    }
    &:checked + label {
        cursor: default;
        color: #fff;
        transition: color 200ms;
        &:after{
            left: 0;
        }
    }
}

.distanceWrap{
	width: 40%;
	margin: 0 auto;
}